# --- Rust / Cargo ---
/target/
Cargo.lock

# Nota: Descomenta Cargo.lock si es una librería, 
# pero déjalo así si es una aplicación/ejecutable.

# --- Modelos de Deep Learning (ONNX y PyTorch) ---
*.onnx
*.onnx.data
*.pt
*.pth

# --- Videos de prueba y resultados ---
*.mp4
/rust_results/
/output.mp4

# --- Datasets y archivos de texto de tracking ---
/datasets/
*MOT*.txt

# --- Archivos del sistema y de desarrollo ---
.DS_Store
Thumbs.db
.env